<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="ui main container" id="app">
        <a :href="link" :title="message"> {{message}}</a>

        <ul>
            <li v-for="person in persons"> {{person}} </li>
        </ul>
    <div class="ui success message" v-if="success">
        <p>
            Bravo votre enregistrement a marché
        </p>
    </div>
    <div class="ui error message" v-else>
    <p> Echec, ca n'a pas marché</p>
    </div>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/app.js"></script> </script>
</body>
</html> 